@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main{
    background-image: url("ass/img/1.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
}

.main .box {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

nav img {
    width: 115px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    font-style: normal;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    text-align: center;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 800;
    font-size: 38px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.sepration {
    height: 3px;
    background-color: rgb(33, 33, 33);
}

.btn {
    padding: 1px 10px;
    font-weight: 600;
}

.btnT {
    color: white;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.btnR {
    color: white;
    background-color: red;
    border-radius: 3px;
    border: 1px solid red;
}

.herobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    color: white;
    padding: 10px 101px 10px 14px;
    font-weight: 200;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(23, 23, 23, 0.6);
}

.btnRm {
    font-size: 18px;
    font-weight: lighter;
    padding: 7px 22px;
    color: white;
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
}

.first {
    display: flex;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    width: 22vw;
    position: absolute;
    top: 64px;
    right: 54px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

.sp1 {
    font-size: 48px;
    font-weight: bolder;
}

.sp2 {
    font-size: 24px;
    font-weight: bolder;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 36px;
}

.faq svg {
    filter: invert(1);
}

.boobs {
    transition: all 0.6s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 19px;
    max-width: 60vw;
    margin: 6px auto;
    cursor: pointer;
}

.boobs:hover {
    background-color: transparent;
    background-color: rgba(128, 128, 128, 0.282);
}

.faq .span{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
}

.faq input{
    color: white;
    padding: 10px 101px 10px 14px;
    font-weight: 200;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(23, 23, 23, 0.6);
}
.log{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding:0  240px 200px;
}

footer span{
    padding-bottom: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 20px;
}